# Logs
*.log
logs/

# Data
*.csv
*.json
*.xml
*.txt # Si guardas datos intermedios como txt
data/
custom_data/
runs/
yolo*.pt

# Checkpoints
checkpoints/
runs/detect/train/ # Evita subir resultados de entrenamientos locales
runs/detect/predict/ # Evita subir predicciones locales
runs/ # Evita subir toda la carpeta de runs si no es necesaria

# Model weights (Opcional, si best.pt es muy grande)
# Descomentar esta línea si NO se va a subir el modelo al repo
model/

# Environment
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
.streamlit/config.toml
.streamlit/secrets.toml

# pycache
src/__pycache__